version: "3"
services:

  app:
    build: .
    working_dir: /home/node/app
    # ports:
    #   - "3000:3000"
    volumes:
      - .:/home/node/app
      - ./node_modules:/home/node/app/node_modules
    entrypoint: /home/node/app/entrypoint.sh
    restart: always
    networks:
       - default

  #openlitespeed
  web:
    image: litespeedtech/openlitespeed:1.7.18-lsphp81
    ports:
      - "${PORT}:80" #mudar quando for fazer o proxy
    volumes:
      - ./html/dist:/var/www/vhosts/localhost/html/
      - ./litespeed/conf:/usr/local/lsws/conf/
      - ./litespeed/logs:/usr/local/lsws/logs/
      - ./litespeed/data:/usr/local/lsws/data/
    deploy:
      resources:
        limits:
          cpus: "${CPU_QUANT}"
          memory: ${MEM_QUANT}
    networks:
      - default


networks:
  default:
    driver: ${NETWORK_MODE}
    name: ${NETWORK_NAME}

