---
import HTML from "@/pages/_base.astro";
import { ContactForm } from "@/components/contact_form";
---
<HTML title="Contato" description="Envie sua mensagem">
    <div class="container flex justify-center items-center min-h-screen">
        <ContactForm client:visible />
    </div>
</HTML>