<footer class="bg-slate-950 py-8">
    <div class="container">
        <div class="flex flex-wrap gap-4">
            <p class="text-xs text-slate-400">© {new Date().getFullYear()} Vibecriativa - Todos os direitos reservados</p>
            <a href="/politica_de_privacidade" class="text-xs underline text-slate-300 hover:text-slate-50">Política de Privacidade</a>
            <a href="/termos_e_condicoes" class="text-xs underline text-slate-300 hover:text-slate-50">Termos e condições</a>
        </div>
    </div>
</footer>